<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>536723554841-hiou31msuhp6obdjuih3uac8h2od64nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536723554841-hiou31msuhp6obdjuih3uac8h2od64nn</string>
	<key>API_KEY</key>
	<string>AIzaSyBeCjvD1YmRI9htytVXBsAPUeVSN5v0JhU</string>
	<key>GCM_SENDER_ID</key>
	<string>536723554841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.seplus.torigoe2.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-39d32</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-39d32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536723554841:ios:bcdfb5dc92d56e39</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-39d32.firebaseio.com</string>
</dict>
</plist>